body {
    text-align: center;
    /* margin: 200px; */
}
.btn{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: solid black 8px;
    border-radius: 15px;
    margin: 10px;
}

.btncontainer{
    display: flex;
    justify-content: center;
}
.green{
    background-color: greenyellow;
}
.red{
    background-color: rgb(240, 61, 61);
}
.blue{
    background-color:rgb(60, 177, 239);
}
.sky{
    background-color: rgb(0, 255, 255);
}
.flash{
    background-color: rgb(253, 253, 253);
}